@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Basic Web App</h1>
    <p>A very simple .NET Core Web application to demonstrate aspects of Azure DevOps</p>

    <p>
        This app is running in <a href="https://azure.microsoft.com/en-us/services/app-service/" target="_blank">Azure App Service</a>, and
        continuously integrated and deployed using <a href="https://azure.microsoft.com/en-us/services/devops/pipelines/" target="_blank">Azure Pipelines</a>
    </p>

    <p><img src="~/images/AzurePipelines.png"></p>

    <br />

    <p>
        The source code and YAML pipeline definition are in <a href="https://github.com/gidavies/BasicWebApp" target="_blank">GitHub</a> 
        <a href="https://github.com/gidavies/BasicWebApp" target="_blank"><img src="~/images/GitHubOcto.png" alt="Project location in GitHub" ></a>
</p>

</div>
